@{
    ViewData["Title"] = "Product Catalog";
}

<h2>Products</h2>

<ul>
    <li><a href="/products/details/1">Apple iPhone X</a></li>
    <li><a href="/products/details/2">Google Pixel 2 XL</a></li>
    <li><a href="/products/details/3">Galaxy Note 8</a></li>
</ul>